---
import BaseLayout from '../layouts/BaseLayout.astro';
import YouTubeEmbed from '../components/YouTubeEmbed.astro';

const ndes = await Astro.glob('../pages/nde/*.mdx');

const famousNDEs = ndes.filter((nde) => (
	nde.frontmatter.tags && nde.frontmatter.tags.includes('famous')
));
const christianNDEs = ndes.filter((nde) => (
	nde.frontmatter.tags && nde.frontmatter.tags.includes('christian')
));
const othersNDEs = ndes.filter((nde) => (
	nde.frontmatter.tags && nde.frontmatter.tags.includes('others')
));
const bulgarianNDEs = await Astro.glob('../pages/nde/bg/*.mdx');
const todoNDEs = await Astro.glob('../pages/nde/todo/*.mdx');

const pages = await Astro.glob('../pages/pages/*.mdx');
const nonDraftPages = pages.filter((post) => !post.frontmatter.draft);
---

<BaseLayout title="Преживявания близки до смъртта"
	description="Преживявания близки до смъртта (ПБС)">
	<h1 class="pb-5">Преживявания близки до смъртта</h1>

	<p class="pb-10">
		<a href="/about/">Преживяванe близко до смъртта (ПБС)</a> e лично преживяване, свързано с предстояща смърт, включващо усещания като отделяне от тялото, интензивни чувства, среща със светлини и други.
	</p>

	<div class="flex flex-wrap -m-4 pb-10 text-start text-sm">
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Известни ПБС</h2>
				<p class="leading-relaxed">
				{famousNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Други ПБС</h2>
				<p class="leading-relaxed">
				{othersNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Християнски ПБС</h2>
				<p class="leading-relaxed">
				{christianNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Български ПБС</h2>
				<p class="leading-relaxed">
				{bulgarianNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
				<p><a href="/share/">Сподели ПБС</a></p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Книги</h2>
				<p class="leading-relaxed">
					<a href="/books/">Досег до вечния живот</a>
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">Страници</h2>
				<p class="leading-relaxed">
				{nonDraftPages.map((page) => (
					<a href={page.frontmatter.url+"/"}>{page.frontmatter.title}</a><span>&comma;&nbsp;</span>
				))}
					<a href="/ndes/">ПБС Списък</a>&comma;&nbsp;
					<a href="/ndes-todo/">ПБС за превод</a>
				</p>
			</div>
		</div>
		<div class="xl:w-1/2 md:w-1/2 pl-6 pr-6">
			<div class="pb-6 pr-2 rounded-lg">
				<h2 class="section-header">ПБС за Превод</h2>
				<p class="leading-relaxed">
				{todoNDEs.map((nde) => (
					<a href={nde.frontmatter.url+"/"}>{nde.frontmatter.experiencer}</a><span>&comma;&nbsp;</span>
				))}
				</p>
			</div>
		</div>
	</div>

	<YouTubeEmbed videoID="zcxSigXdDBw" title="Преживявания близки до смъртта" hideHeader="true"/>
	<a href="https://www.youtube.com/watch?v=zcxSigXdDBw">Youtube линк към видеото</a>
</BaseLayout>

<style>
.section-header {
	padding-top: 0.5rem;
	text-align: center;
	font-weight: bold;
    color: #005A9C;
    background-color: #B3DBFF;
}
</style>
